#servicesBox {
  width: 100%;
  height: 100%;
  background: #000000;
  --color: #ffffff33;

  background-image: linear-gradient(
      -90deg,
      transparent calc(12em - 1px),
      var(--color) calc(12em - 1px + 1px),
      var(--color) 12em
    ),
    linear-gradient(
      0deg,
      transparent calc(12em - 1px),
      var(--color) calc(12em - 1px + 1px),
      var(--color) 12em
    );
  background-size: 12em 12em;
  animation: backgroundMove 5s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes backgroundMove {
  0% {
    background-color: #000000;
  }
  50% {
    background-color: #060216;
  }
  100% {
    background-color: #000000;
  }
}

#contentServiciesBox {
  width: 80%;
  max-width: 1200px;
  height: 77%;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr repeat(3, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 4vh;
  align-items: center;
  justify-content: center;
}

#title_Services_Box {
  grid-area: 1 / 1 / 2 / 4;
}

#s1_Services {
  grid-area: 2 / 1 / 3 / 4;
}
#s2_Services {
  grid-area: 3 / 1 / 5 / 2;
}
#s3_Services {
  grid-area: 3 / 2 / 4 / 4;
}
#s4_Services {
  grid-area: 4 / 2 / 5 / 3;
}
#s5_Services {
  grid-area: 4 / 3 / 5 / 4;
}

#title_Services_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#title_Services_Box h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  font-family: "Chakra Petch";
}

#title_Services_Box p {
  margin: 0;
  font-size: 1em;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
}

#s1_Services {
  width: calc(100% - 10vw - 4px);
  height: calc(100% - 40px - 4px);
  margin: 0;
  text-shadow: 0px 0px 19px #41ff074b;
  background: linear-gradient(
    -45deg,
    transparent 1%,
    #050f1c 1%,
    #050f1c 99%,
    transparent 99%
  );
  padding: 20px 5vw;
  font-size: 1em;
  position: relative;
  filter: drop-shadow(0px 2px #09ff00) drop-shadow(0px -2px #09ff00)
    drop-shadow(2px 0px #09ff00) drop-shadow(-2px 0px #09ff00);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Chakra Petch", sans-serif;
  animation: start-s1-services .2s .2s linear backwards ;
}

@keyframes start-s1-services {
  from{
    opacity: 0;
    transform: translateX(200px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}


#s1_Services::before {
  content: "";
  width: 5px;
  height: 90px;
  background: linear-gradient(-135deg, transparent 10%, #09ff00 10%);
  position: absolute;
  left: 0;
  bottom: 0;
}

#s1_Services::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90px;
  height: 5px;
  background: linear-gradient(45deg, #09ff00 90%, transparent 90%);
}

#s2_Services {
  background: #0f1c29;
  justify-self: center;
  align-self: center;
  width: calc(100% - 4vw - 10px);
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  justify-content: space-evenly;
  position: relative;
  margin: 0;
  padding: 0 2vw;
  font-family: "Chakra Petch", sans-serif;
  animation: start-s2-services .2s .6s linear backwards;
}



@keyframes start-s2-services {
  0%{
    opacity: 0;
    transform: translateX(50px);
    color: transparent;
    z-index: 1;
  }
  100%{
    z-index: 1;
    opacity: 1;
    transform: translateX(0px);
  }
}

#s2_Services::before {
  content: "";
  width: calc(100% + 6px);
  height: 10%;
  background: linear-gradient(
    90deg,
    #ff9100 10%,
    transparent 10%,
    transparent 90%,
    #ff9100 90%
  );
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: -1;
  border-radius: 3px 3px 0 0;
  animation: startS2Before .3s .8s linear backwards;
}



#s2_Services::after {
  content: "";
  width: calc(100% + 6px);
  height: 10%;
  background: linear-gradient(
    90deg,
    #ff9100 10%,
    transparent 10%,
    transparent 90%,
    #ff9100 90%
  );
  position: absolute;
  left: -3px;
  bottom: -3px;
  z-index: -1;
  border-radius: 0 0 3px 3px;
  animation: startS2Before .3s .8s linear backwards;

}

@keyframes startS2Before {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
#s2_Services h2 {
  margin: 0;
  font-weight: 700;
  font-size: 1.2em;
}

#s2_Services li {
  width: 90%;
  margin-left: 10%;
  line-height: 1em;
}

#s3_Services {
  background: linear-gradient(
      135deg,
      transparent 2%,
      #0f1c29 2%,
      #0f1c29 80%,
      transparent 80%
    ),
    linear-gradient(
      0deg,
      transparent 12%,
      #0f1c29 12%,
      #0f1c29 80%,
      transparent 80%
    ),
    linear-gradient(-170deg, #0f1c29, #0f1c29 30%, transparent 30%);
  width: calc(100% - 10vw);
  height: calc(100% - 4vh - 2px);
  text-shadow: 0px 0px 19px #ff00dd6e;
  margin: 0;
  padding: 2vh 5vw;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1em;
  font-family: "Chakra Petch", sans-serif;
  filter: drop-shadow(1px 0px #ff00b8) drop-shadow(-1px 0px #ff00b8)
    drop-shadow(0px 1px #ff00b8) drop-shadow(0px -1px #ff00b8);
    animation: start-s3-services .2s .4s linear backwards;
}


@keyframes start-s3-services {
  from{
    opacity: 0;
    transform: translateY(-50px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

#s3_Services::before {
  content: "";
  width: 25%;
  height: 10%;
  background: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 10px,
    #ff00b8 10px,
    #ff00b8 22px
  );
  background-size: 93px 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
  animation: infinite_s3_Services 10s linear infinite both;
}

@keyframes infinite_s3_Services {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 300px 0px;
  }
}

#s4_Services {
  background-color: #1100ff;
  padding: 0 2vw;
  align-self: center;
  justify-self: center;
  width: calc(100% - 4vw - 4px);
  height: calc(100% - 4px);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-family: "Chakra Petch", sans-serif;
  text-shadow: 0px 0px 19px rgba(7, 52, 255, 0.692);
  background: linear-gradient(
      45deg,
      transparent 5%,
      #0f1c29 5%,
      #0f1c29 26%,
      transparent 26%
    ),
    linear-gradient(
      135deg,
      transparent 5%,
      #0f1c29 5%,
      #0f1c29 26%,
      transparent 26%
    ),
    linear-gradient(-90deg, #0f1c29, #0f1c29 90%, transparent 90%);
  filter: 
  drop-shadow(2px 0px #0047ff)
  drop-shadow(-2px 0px #0047ff)
  drop-shadow(0px 2px #0047ff) 
  drop-shadow(0px -2px #0047ff);
  position: relative;
  animation: start-s4-services .2s .6s linear backwards;
}



@keyframes start-s4-services {
  from{
    opacity: 0;
    transform: translateY(200px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

#s4_Services::before {
  content: "";
  width: 3px;
  height: 50%;
  position: absolute;
  border-radius: 20px;
  background-color: white;
  left: 2%;
  animation: infiniteHeightS5-4  1s  .5s alternate-reverse infinite ;
}

#s5_Services {
  align-self: center;
  justify-self: center;
  background: linear-gradient(
      -45deg,
      transparent 5%,
      #0f1c29 5%,
      #0f1c29 25%,
      transparent 25%
    ),
    linear-gradient(
      -135deg,
      transparent 5%,
      #0f1c29 5%,
      #0f1c29 25%,
      transparent 25%
    ),
    linear-gradient(90deg, #0f1c29, #0f1c29 90%, transparent 90%);
  padding: 0 2vw;
  width: calc(100% - 4vw - 4px);
  height: calc(100% - 4px);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  text-shadow: 0px 0px 19px #00eeff7c;
  font-family: "Chakra Petch", sans-serif;
  filter: 
  drop-shadow(2px 0px #00f0ff)
  drop-shadow(-2px 0px #00f0ff)
  drop-shadow(0px 2px #00f0ff)
  drop-shadow(0px -2px #00f0ff);
  position: relative;
  animation: start-s5-services  .2s  .8s linear backwards ;
  
}

@keyframes start-s5-services {
  from{
    opacity: 0;
    transform: translateX(-50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

#s5_Services::before {
  content: "";
  width: 3px;
  height: 50%;
  position: absolute;
  border-radius: 20px;
  background-color: white;
  right: 2%;
  animation: infiniteHeightS5-4  1s alternate-reverse infinite ;
}

@keyframes infiniteHeightS5-4 {
  from {
    height: 3px;
  }
  to {
    height: 50%;
  }
}

@media only screen and (max-width: 800px) {
  #contentServiciesBox {
    height: 88%;
    width: 90% !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr repeat(4, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 1vh;
  }

  #title_Services_Box {
    width: 100%;
    gap: 10px;
    height: max-content;
    grid-area: 1 / 1 / 2 / 3;
  }

  #s1_Services {
    grid-area: 2 / 1 / 3 / 3;
  }
  #s2_Services li {
    width: calc(100% - 2vw);
    margin: 0 0 0 2vw;
  }
  #s3_Services {
    grid-area: 3 / 1 / 4 / 3;
  }

  #s2_Services {
    grid-area: 4 / 1 / 6 / 2;
  }

  #s4_Services {
    grid-area: 4 / 2 / 5 / 3;
    background: linear-gradient(
        -135deg,
        transparent 5%,
        #0f1c29 5%,
        #0f1c29 40%,
        transparent 40%
      ),
      linear-gradient(
        135deg,
        transparent 5%,
        #0f1c29 5%,
        #0f1c29 40%,
        transparent 40%
      ),
      linear-gradient(0deg, #0f1c29, #0f1c29 80%, transparent 80%);
  }

  #s4_Services::before {
    display: none;
  }

  #s5_Services::before {
    display: none;
  }

  #s5_Services {
    grid-area: 5 / 2 / 6 / 3;
    background: linear-gradient(
        45deg,
        transparent 5%,
        #0f1c29 5%,
        #0f1c29 40%,
        transparent 40%
      ),
      linear-gradient(
        -45deg,
        transparent 5%,
        #0f1c29 5%,
        #0f1c29 40%,
        transparent 40%
      ),
      linear-gradient(180deg, #0f1c29, #0f1c29 84%, transparent 84%);
  }

  #contentServiciesBox {
    width: 90%;
  }
  #title_Services_Box {
    width: 100%;
    gap: 10px;
    height: max-content;
  }
}

@media only screen and (max-width: 440px) {
  #contentServiciesBox {
    width: 98% !important;
    height: 90% !important;
  }
}

@media only screen and (max-height: 700px) {
  #contentServiciesBox {
    height: 80%;
  }

  #title_Services_Box {
    width: 90%;
  }
}

@media only screen and (max-height: 500px) {
  #contentServiciesBox {
    width: 94%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #title_Services_Box {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    grid-area: 1 / 1 / 2 / 3;
  }
  #s1_Services {
    grid-area: 2 / 3 / 4 / 5;
    padding: 0 2vw;
    width: calc(100% - 4vw);
    height: 100%;
  }
  #s2_Services {
    grid-area: 2 / 1 / 4 / 3;
    /* flex-direction: row; */
  }

  #s2_Services li {
    /* width: 50%; */
    /* height: 20px; */
    /* background-color: red; */
  }

  #s3_Services {
    grid-area: 1 / 3 / 2 / 7;
    padding: 0 2vw;
    width: calc(100% - 4vw);
  }
  #s4_Services {
    grid-area: 2 / 5 / 3 / 7;
  }

  #s5_Services {
    grid-area: 3 / 5 / 4 / 7;
  }
}

@media only screen and (max-height: 400px) {
  #contentServiciesBox {
    width: 98% !important;
  }
}
