::selection{
    color: #00bcf0;
    background-color: yellow;
  }


#App{
    width:100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

button:hover{
    border: none;
    outline: none;
    border-radius: 0;
}

button:active{
    border: none;
    outline: none; 
    border-radius:0;
}

button:focus-visible{
    border: none;
    outline: none; 
    border-radius:0;
}
 button::-moz-focus-outer{
    border: 0;
    outline: none;
    border-radius: 0;
 }